body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40;
    color: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

section.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

article {
    flex: 3;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h2, h4 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #0056b3;
}

footer p a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

footer p a:hover {
    color: #cccccc;
}

/* Responsiveness */
@media (max-width: 768px) {
    .header-inner {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    header h1 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 5px 10px;
    }

    main {
        padding: 10px;
    }

    section.content {
        flex-direction: column;
        align-items: center;
    }

    article {
        flex: 1;
        margin-right: 0;
        margin-bottom: 20px;
    }

    aside {
        flex: 1;
        margin-top: 20px;
        min-width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1em;
    }

    nav a {
        margin: 5px;
    }

    article {
        padding: 10px;
    }

    aside {
        padding: 10px;
    }
}
